body {
  background: linear-gradient(45deg, #000, #1e1e1e);
  color: #fff;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Press Start 2P", monospace; 
}

.signup-container {
  width: 400px;
  padding: 20px;
  background: #121212;
  border: 3px solid #ff00ff;
  box-shadow: 5px 5px 0px #00ffff, -5px -5px 0px #ff00ff;
  text-align: center;
  position: relative;
  z-index: 1;
}

.signup-container h1 {
  font-size: 28px;
  text-transform: uppercase;
  color: #00ffff;
  margin-bottom: 20px;
  text-shadow: 2px 2px #ff00ff;
}

.input-field {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: 2px solid #00ffff;
  background: #000;
  color: #fff;
  font-size: 16px;
  box-shadow: inset 2px 2px 0px #ff00ff;
}

.btn {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 20px 0;
  border: none;
  background: #ff00ff;
  color: #000;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 3px 3px 0px #00ffff;
  font-family: "Press Start 2P", monospace; 
}

.btn:hover {
  background: #00ffff;
  color: #000;
  box-shadow: 3px 3px 0px #ff00ff;
}

.signup-options {
  margin-top: 20px;
}

.signup-options button {
  padding: 10px;
  margin: 5px;
  background: #000;
  color: #00ffff;
  border: 2px solid #ff00ff;
  cursor: pointer;
  font-size: 14px;
  box-shadow: 2px 2px 0px #ff00ff;
  font-family: "Press Start 2P", monospace; 
}

.signup-options button:hover {
  background: #ff00ff;
  color: #000;
  border-color: #00ffff;
}

.music-symbol {
  position: absolute;
  font-size: 20px;
  color: #ff00ff;
  animation: fall linear infinite;
}

@keyframes fall {
  0% {
    transform: translateY(-100vh);
  }
  100% {
    transform: translateY(100vh);
  }
}
a{
  text-decoration: none;
}